.menu {
    width:300px;
    height:25px; 
    margin:0;
    padding:5px;
    color: #114e60;
    background-color: #f5cebe;
    text-decoration: none;
    border-top:5px solid #f4eee8
    
   
    
  }

img {
    width:310px;
    height: 300px;





}